@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@100&display=swap');

body{
    background: rgba(0, 0, 0, 0.733);
}
*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.square{
    width: 30vw;
    height: 35vh;
    background-color: #D9D9D9;
    border-radius: 3rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#title{
    font-family: Tomorrow;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    padding-top: 1em;
}
.square2{
    width: 30vw;
    height: 35vh;
    background-color: #69A297DD;
    border-radius: 3rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-bottom: 6em;
}
.exibir{
    width: 16vw;
    height: 10vh;
    background-color: #FFF;
    border-radius: 3rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.min-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
}
.num{
    width: 12vw;
    height: 6vh;
    background-color: #FFF;
    margin-top: 2em;
    border-radius: 3rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
#img1{
    margin-top: 0.500rem;
    margin-left: 0.900rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#img2{
    width: 3rem;
    height: 6rem;
}
.img_lado{
    display: flex;
    flex-direction: column;
    margin-top: -8rem;
    margin-left: 1rem;
}
#img3{
    margin-top: 0.600rem;
    margin-left: 0.600rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#butao{
    width: 7rem;
    height: 3rem;
    border-radius: 3.2275rem;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 1.5rem;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
}
.bnt-flex{
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 0.500rem;
}
#img4{
    margin-top: 0.355rem;
}
.group{
    display: flex;
    flex-direction: row;
}
#valor{
    width: 6rem;
    height: 2rem;
    margin-left: 1.5rem;
    margin-top: 0.400rem;
    border: none;
    font-size: 2rem;
    font-style: oblique;
    border-radius: 0px 8px 8px 4px;
}
input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}
#resultado{
    width: 7vw;
    height: 8vh;
    position: center;
    background-color: #FFF;
    margin-left: 6.6rem;
    margin-top: -4.3rem;
    border-radius: 3rem;
    font-size: 50px;
}
#img_base2{
    width: 6.9rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .square{
        width: 75vw;
        height: 25vh;
    }
    #title{
        font-size: 0.800em;
        display: flex;
        justify-content: center;
        padding-top: 1em;
    }
    .square2{
        width: 75vw;
        height: 25vh;
        padding-bottom: 3rem;
    }
    .exibir{
        width: 60vw;
        height: 6vh;
    }
    #img1{
        margin-top: 0.300rem;
        margin-left: 0.900rem;
        width: 5vh;
        height: 5vh;
    }
    .num{
        width: 45vw;
        height: 6vh;
        margin-top: 1.6rem;
    }
    #img3{
        margin-top: 0.400rem;
        margin-left: 0.600rem;
        width: 4vh;
        height: 6vh;
    }
    #valor{
        width: 4rem;
        height: 2rem;
        margin-left: 1rem;
        margin-top: 0.700rem;
        font-size: 2.1rem;
    }
    .img_lado{
        margin-top: -4.5rem;
        margin-left: -1rem;
    }
    #img2{
        width: 5rem;
        height: 4rem;
    }
    .bnt-flex{
        width: 75vw;
        margin-left: 0.500rem;
        height: 13.5vw;
    }
    #img_base{
        margin-left: 1rem;
        margin-top: 0.1rem;
        height: 6vh;
        width: 6vh;
    }
    #butao{
        width: 7rem;
        height: 2.3rem;
        margin-top: 0.300rem;
        margin-left: 0.400rem;
        margin-right: 0.400rem;
    }
    #img4{
        margin-top: 0.200rem;
    }
    #img_base2{
        height: 9vh;
        width: 7.5vh;
        margin-top: -0.900rem; /*0.800*/
        margin-right: 1rem;
        transform: rotate(10.5deg);
    }
    #resultado{
        border-radius: 3rem;
        margin-left: 5.5rem;
        margin-top: -2.7rem;
        margin-right: 1rem;
        height: 5vh;
        width: 25vw;
        font-size: 2.1rem;
    }
}
@media screen and (min-width: 320px) and (max-width: 480px){
    .square{
        width: 70vw;
        height: 37vh;
    }
    .square2{
        width: 70vw;
        height: 38vh;
    }
    #title{
        padding-top: 1.5em;
    }
    .min-container{
        padding-top: 1em;
    }
    .exibir{
        width: 52vw;
    }
    #resultado{
        margin-left: 3.5rem;
        margin-top: -1.9rem;
    }
    .num{
        width: 41vw;
        margin-top: 1.9rem;
    }
    #img3{
        margin-top: 0.3rem;
    }
    #valor{
        height: 4.9vh;
        margin-top: 0.3rem;
    }
    .img_lado{
        margin-top: -3.6rem;
    }
    #img2{
        height: 4.5rem;
    }
    .bnt-flex{
        margin-left: 0.3rem;
    }
    #img_base{
        margin-top: 0.6rem;
    }
    #butao{
        height: 2.2rem;
        margin-left: 0.9rem;
        margin-right: 0.9rem;
        margin-top: 0.5rem;
    }
    #img_base2{
        height: 25vw;
        margin-top: -1.2rem;
        margin-right: 2.1rem;
    }
}